@model DocumentSearcher.Models.IndexedDocument[]

@{
    ViewBag.Title = "Index";
}

<h2>Uploaded documents</h2>

@if(Model.Length > 0)
{
<table class="table">
    <tr>
        <th>#</th>
        <th>Document Name</th>
        <th>Created Date</th>
    </tr>
    @for (int i = 0; i < Model.Length; ++i)
    {
        <tr>
            <td>@(i+1)</td>
            <td>
                @Html.ActionLink(Model[i].FileName, "View", new { @id = Model[i].Id })
            </td>
            <td>
                @Model[i].CreatedDate
            </td>
        </tr>
    }
</table>
}
else
{
    <p>No uploaded documetns</p>
}